#contact {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}
.contact-items {
  padding: 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.contact-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 1.5rem;
  box-shadow: 0px 10px 50px #5b5a5a4d;
}
.contact-item p {
  font-size: 0.8rem;
  color: #5b5a5a;
}
.contact-item div {
  font-size: 1.2rem;
  font-weight: 700;
  color: #5b5a5a;
}
.contact-item .contact-img {
  padding: 0.8rem;
  display: flex;
  border-radius: 100%;
  border-style: dashed;
  border: 1.8px #cc1616 dashed;
}
.contact-img img {
  width: 2rem;
  height: 2rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 10px 50px #5b5a5a4d;
  padding: 2rem;
  border-radius: 0.1rem;
  align-items: center;
}
.inputfields {
  width: 100%;
  padding-left: 1rem;
  padding: 0.7rem;
  border: solid 1px #5b5a5a25;
}
.messages {
  width: 100%;
  padding-left: 1rem;
  padding: 0.7rem;
  border: solid 1px #5b5a5a25;
}
.contact-form input[type="submit"] {
  padding: 1rem 2rem;
  width: fit-content;
  background-color: #b80c0cd8;
  border: none;
  color: white;
  font-weight: 500;
  transition: ease 0.4s;
}
.contact-form input[type="submit"]:hover {
  background-color: #e51919;
}
.contact-form input[type="submit"]:active {
  scale: 0.9;
}
