#pricing {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right:1rem ;
}
.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}
.card1 {
  background-color: rgba(220, 220, 220, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  gap: 1rem;
  border-radius: 0.6rem;
}
.price {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.4);
}
.redtitlte {
  font-size: 3rem;
  letter-spacing: 0px;
  line-height: 2.3rem;
  color: #cc1616;
}
.value {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.currency {
  align-self: flex-start;
  font-size: 1rem;
  color: #cc1616;
}
.features,
.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  gap: 1rem;
}
.type {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.3px;
}
.discount {
  text-decoration: line-through;
  color: rgb(202, 202, 202);
}
.buy {
  background-color: #b80c0cd8;
  border: none;
  padding: 0.8rem 2.5rem;
  color: white;
  font-weight: 700;
  transition: ease 0.4s;
}
.buy:hover {
  background-color: #e51919;
}
.buy:active {
 scale: 0.9;
}
.permium{
  color: white;
  background-color: #cc1616;
}
.permium .currency, .permium .redtitlte{
  color: white;
}
.permium .price{
 color: #ffffff7e;
}
.permium .buy{
  background-color: #ce3636;
}
.permium .buy:hover{
  background-color: #fff;
  color: #cc1616;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}